input {
   padding-bottom: 10px;
   padding-left: 20px;
   padding-right: 20px;
   padding-top: 20px;
   
}
div.ui-content
{
    padding-left: 0px;
    padding-right: 0px;
}
body
{
    padding-left: 10px;
    width: 110%;
}
button
{
    
}